.usuario-layout {
  display: flex;
  min-height: 100vh;
  color: #333;
}

.usuario-layout {
  width: 230px;
  background-color: #5a6993;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

.usuario-layout .main {
  margin-left: 0; /* móvil */
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .usuario-layout .main {
    margin-left: 230px; /* desktop */
  }
}

.usuario-layout .main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 50;
}

@media (min-width: 768px) {
  .usuario-layout .main {
    left: 230px;
  }
}

.usuario-layout .main main {
  padding-top: 64px; /* espacio para el header */
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
}
